
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Корзина</h1>
    <ul>
        {% if cart.items.all %}
        <ul>
            {% for item in cart.items.all %}
            <li>
                {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }} = {{ item.get_total_price }}
                <form action="{% url 'increase_quantity' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Увеличить</button>
                </form>
                <form action="{% url 'decrease_quantity' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Уменьшить</button>
                </form>
                <form action="{% url 'remove_from_cart' item.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <p>Общая сумма {{ total_price }} тг</p>
        {% endif %}
    </ul>
    <a href="{% url 'home' %}">На главную страницу</a>
    <form action="{% url 'checkout'%}" method="get" >
        <button type="submit">Оформить заказ</button>
    </form>
</body>
</html>