<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
    <a href="{% url 'cross_detail' product.id %}"><img src="{{product.img.url}}" alt="product.name">  
        <p>{{product.price}}</p>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
        <p>{{product.grade}}</p>
        </a>
    {% endfor %}
</body>
</html>