<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div><h1>Скидка 10% за подписку <br>на новинки и акции</h1></div>
        <div>
            <div>
                <div><form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                </form></div>
                <div></div>
            </div>
            <div><button type="submit">Подписаться</button></div>
        </div>
    </div>
</body>
</html>